{% load leaflet_tags %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% leaflet_css %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <style>
      .leaflet-container { height: 90vh; }
      .leaflet-routing-container { width: 100% }
    </style>

    <title>Cycling Routes</title>
  </head>
  <body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Cycling Routes</a>
        <form class="form-inline" action="{% url 'home' %}" method="post">
            {% csrf_token %}
            <div class="form-row">
              <div class="col">
              {{ form.selected_route_id }}
              </div>
              <div class="col">
                <input class="form-control btn btn-success" type="submit" value="Go" aria-label="Go">
              </div>
            </div>
        </form>
        {% if selected_route %}
        <div class="col">
          <button id="audio_control" onclick="audio_control()" class="btn btn-primary" type="button">Audio Display</button>
          <button id="toggle_surfaces" onclick="toggle('route_surface')" class="btn btn-primary" type="button">Surfaces</button>
          <button id="toggle_calories" onclick="toggle('route_calories')" class="btn btn-primary" type="button">Calories</button>
          <button id="toggle_elevation" onclick="toggle('route_elevation')" class="btn btn-primary" type="button">Elevation</button>
        </div>
        {% endif %}
    </nav>
    <div class="containter-fluid mb-3">
      <div id="map" class="row row-eq-height my-1 ml-0 w-100 ">
        <div class="col">
          <div class="card">
          {% leaflet_map "main" callback="window.map_init" %}
          </div>
        </div>
        <div class="col-3  pl-0">
          <div class="card h-100" style="width: 90%">
            <div class="card-body p-2" id="controls">
              <h5 class="card-title">Route Info</h5>
              <p class="card-text">{{ selected_route.title }}</p>
              <p class="card-text">{{ selected_route.description|linebreaksbr }}</p>
              <div id="route_detail">
                {% if selected_route %}
                <div class="collapse" id="route_surface">
                  <div class="card-text"><span class="font-weight-bold">Surfaces: </span><p>Service | Residential | Cycle | Unclassified</p></div>
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{selected_route.surfaces.0}}%" aria-valuenow="{{selected_route.surfaces.0}}" aria-valuemin="0" aria-valuemax="100">{{selected_route.surfaces.0}}%</div>
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: {{selected_route.surfaces.1}}%" aria-valuenow="{{selected_route.surfaces.1}}" aria-valuemin="0" aria-valuemax="100">{{selected_route.surfaces.1}}%</div>
                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: {{selected_route.surfaces.2}}%" aria-valuenow="{{selected_route.surfaces.2}}" aria-valuemin="0" aria-valuemax="100">{{selected_route.surfaces.2}}%</div>
                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: {{selected_route.surfaces.3}}%" aria-valuenow="{{selected_route.surfaces.3}}" aria-valuemin="0" aria-valuemax="100">{{selected_route.surfaces.3}}%</div>
                  </div>
                </div>
                <div class="collapse card-text" id="route_calories">
                  <div><span class="font-weight-bold">Calories: </span>{{selected_route.calories}} kcal</div>
                </div>
                {% endif %}
                
              </div>
          </div>
        </div>
      </div>
      {% if selected_route and selected_route.audio_display %}
      {% load static %}
      <div class="row">
        <audio id="audio_display">
          <source src="{{ MEDIA_URL }}{{ selected_route.audio_display }}" />
        </audio>
      </div>
      {% endif %}
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    {% leaflet_js %}
    <script type="text/javascript" src="https://unpkg.com/requirejs@latest/require.js"></script>
    <script type="text/javascript" src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <script type="text/javascript" src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script type="text/javascript" src="https://www.liedman.net/lrm-graphhopper/dist/lrm-graphhopper-1.2.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {{ selected_route|json_script:"selected_route" }} 
    <script type="text/javascript">
      var control;
      function map_init(map, options) {
        var southWest = L.latLng(13.02504085518189, 80.23609399795532),
            northEast = L.latLng(13.026849183135116, 80.23797690868378),
            bounds = L.latLngBounds(southWest, northEast);

        selected_route = JSON.parse(document.getElementById('selected_route').textContent);

        {% if selected_route %}
        var latlng = new L.LatLng((parseFloat(selected_route.lat_start) + parseFloat(selected_route.lat_end)) / 2.0,  (parseFloat(selected_route.lng_start) + parseFloat(selected_route.lng_end)) / 2.0),
        map = map.setView(latlng, 18);
        {% else %}
        navigator.geolocation.getCurrentPosition(function(location) {
            var latlng = new L.LatLng(location.coords.latitude, location.coords.longitude);
            map = map.setView(latlng, 13);
        });
        {% endif %}

        L.tileLayer('https://{s}.tile.osm.org/{z}/{x}/{y}{r}.png', {
          attribution: '© OpenStreetMap contributors', 
          maxZoom: 18, 
          bounds:bounds,
        }).addTo(map);

        {% comment %} L.Control.geocoder().addTo(map); {% endcomment %}

        control = L.Routing.control({
          router: L.Routing.graphHopper('e104169d-d857-4cee-85bf-c03dc32330b5', {
            urlParameters: {vehicle: 'bike'}
          }),
          {% if selected_route %}
          waypoints: [
            L.latLng(parseFloat(selected_route.lat_start), parseFloat(selected_route.lng_start)),
            L.latLng(parseFloat(selected_route.lat_end), parseFloat(selected_route.lng_end)),
          ], 
          {% endif %}
          routeWhileDragging: true, 
          fitselected_routes: true,
          {% comment %} geocoder: L.Control.Geocoder.nominatim() {% endcomment %}
        })
        .on('routeselected', function(e) {
          var route = e.route;
          const route_detail = `
            <div id="route_elevation" class="card-text collapse">
              <p><span class="font-weight-bold">Total Ascend: </span>${route.summary.totalAscend.toFixed(4)}</p>
            </div>
          `;
          document.getElementById('route_detail').insertAdjacentHTML('beforeend', route_detail);
        })
        .addTo(map);

        control.hide();

        var controlDiv = control.onAdd(map);
        document.getElementById('controls').appendChild(controlDiv);
      }

      function audio_control() {
        var audio = document.getElementById('audio_display'), 
            control = document.getElementById('audio_control');
        if (!audio.paused && audio.currentTime) {
          audio.pause();
          control.innerText = "Audio Display"
          control.classList.remove('btn-secondary');
          control.classList.add('btn-primary');
        } else {
          audio.play();
          control.innerText = "Pause"
          control.classList.remove('btn-primary');
          control.classList.add('btn-secondary');
        }
      }

      function toggle(element_id) {
        document.getElementById(element_id).classList.toggle('show');
      }
    
    </script>
  </body>
</html>